<div class="page-header">
	<h1>Images Stored MongoDB</h1>
</div>
<div class="row">
	<div class="col-xs-5">
    	<a href="#/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Nuevo Cupón</a>
  	</div>
  	<div class="col-xs-7">
    	<input type="text" class="form-control" ng-model="query" placeholder="Buscar en los cupones">
  	</div>
</div>
<div class="row"><div class="col-xs-12"><hr></div></div>
<div class="row" ng-switch on="cupones.length">
	<ul ng-switch-when="0">
		<li><em>No hay cupones guardados. ¿Quieres <a href="#/new">registrar un cupón</a>?</li>
	</ul>
	<ul ng-switch-default>
		<li ng-repeat="cupon in cupones | filter:query">
	  		<a href="#/cuponera/{{cupon._id}}">{{cupon.nombre}}</a>
	  		<img ng-src="{{cupon.binaryImage}}" class="thumbnail" alt="{{cupon.nombre}}"/>
	  		<input type="text" name="comentario" ng-model="comentario" class="form-control" id="comentario" placeholder="Comentar">
	  		<button type="button" class="btn btn-primary" ng-click="doComment(cupon._id, comentario)">Comentar</button>
	  		<li ng-repeat="coment in comentarios">
	  			<p>{{coment.descripcion}}</p>
	  		</li>
		</li>
	</ul>
</div>
<p>&nbsp;</p>