<div class="page-header">
  <h1>Nuevo Cup&oacute;n</h1>
</div>

<form role="form" ng-submit="nuevoCupon()" enctype="multipart/form-data">
  
  <div class="form-group">
    <label>Autor</label>
    <div>
      <input type="text" ng-model="autor" class="form-control" placeholder="Autor"><br>
    </div>
  </div>
  <div class="form-group">
    <label>Content</label>
    <div>
      <input type="text" ng-model="content" class="form-control" placeholder="Contenedor"><br>
    </div>
  </div>
  <div class="form-group">
    <label>Imagen</label>
    <div>
      <input type="file" name="imagen" id="imagen" file-model="imagen" flow-btn class="form-control" placeholder="Imagen"><br>
    </div>
  </div>
  
  <p><hr></p>
  
  <div class="row">
    <div class="col-xs-6">
      <a href="#/cuponera" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Regresar a la Lista de Cupones</a>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-primary pull-right" type="submit" ng-click="$flow.upload()">Crear Nuevo Cupón &raquo;</button>
    </div>
  </div>
  

<div class="container">
  <h1>flow image example</h1>
  <hr class="soften"/>

  <div>
    <div class="thumbnail" ng-hide="$flow.files.length">
      <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
    </div>
    <div class="thumbnail" ng-show="$flow.files.length">
      <img flow-img="$flow.files[0]" />
    </div>
    <div>
      <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
      <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
      <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
         ng-click="$flow.cancel()">
        Remove
      </a>
    </div>
    <p>
      Only PNG,GIF,JPG files allowed.
    </p>
  </div>
</div>


  <p>&nbsp;</p>
  
</form>