doctype html
html(lang='en', ng-app='cuponeraApp')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title= title
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/cupones-images.css')
		link(rel='stylesheet' href='/stylesheets/example.css')
		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,400,500')
		
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')

		script(src='/javascripts/app.js')
		script(src='/javascripts/controller.js')
		script(src='/javascripts/service.js')
		script(src='/socket.io/socket.io.js')
		
		script(src='//maps.googleapis.com/maps/api/js?v=3.exp&language=es')
		script(src='/javascripts/src/angular-google-maps_dev_mapped.min.js')
		script(src='/javascripts/src/dev_deps.js')
		script(src='/javascripts/src/heat-layer.js')
		script(src='/javascripts/src/lodash.min.js')
		
	body(ng-controller="ProveedorController" ng-style="style")
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			div.navbar-header.page-scroll
				a.navbar-brand.page-scroll(href='#/cuponera') CUPONERA
			ul.nav.navbar-nav
				li
					a(href='#/upload') Registrar Cupón
				li
					a(href='#/imagenes') Cupones
				li
					a(href='#/nuevoUsuario') Nuevo Usuario
				li
					a(href='#/nuevoCupon') Registrar Cupón
				li
					a(href='/nuevoProveedor') Registrar Proveedor
		div.container
			div(ng-view)