body { 
	padding-top: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

a {
  color: #00B7FF;
}

.result-table 
{
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}

.result-table td { padding: 8px; }

.result-table > tbody > tr > td:first-child 
{
  width: 25%;
  max-width: 300px;
  text-align: right;
}

.result-table td table 
{
  background-color: lightblue;
  text-align: right;
}

.thumbnail {
  max-width: 370px; max-height: 370px; line-height: 20px; margin-bottom: 5px;
}

.inputWrapper {
    height: 40px;
    width: 32%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
}

.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.avatar {
  max-width: 50px; max-height: 50px; line-height: 20px; margin-bottom: 5px;
}

.color-star {
    color: #F39C12;
}