<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Comentar</h1>
    <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
	 <div class="list card">
	  	<div class="item item-avatar">
	    	<img ng-src="data:{{modal.cupon.id_usuario.extension_avatar}};base64,{{modal.cupon.id_usuario.avatar_binary}}"/>
	    	<h2>{{modal.cupon.id_usuario.empresa}}</h2>
	    	<p><span><strong>Válido hasta: </strong>{{modal.cupon.fecha_validez}}</span></p>
	  	</div>
	
		<div class="item item-image">
			<img ng-src="{{modal.cupon.binaryImage}}"  alt="{{modal.cupon.nombre}}"/>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#" >
		    	<div ng-switch on="modal.isFav">
				    <div ng-switch-when="1">
				        <i class="icon ion-checkmark-circled"></i>
				    </div>
				    <div ng-switch-default ng-click="addToFav(modal.cupon)">
				        <i class="icon ion-star"></i> Favorito
				    </div>
				</div>
		    </a>
		    <a class="tab-item" href="#" ng-click="addToFav(cupon)">
		      <i class="icon ion-star"></i> Califica
		    </a>
		</div>
	  	<div ng-switch on="modal.cupon.comentarios.length">
			<a class="item item-icon-left assertive" href="#" ng-switch-when="0">
		    	<i class="icon ion-music-note"></i>Sin comentarios
		  	</a>
		  	<a class="item item-avatar" href="#" ng-repeat="comment in modal.cupon.comentarios | limitTo: modal.end">
	      		<img ng-src="data:{{comment.id_usuario.extension_avatar}};base64,{{comment.id_usuario.avatar_binary}}"/>
	      		<h2>{{comment.id_usuario.nombre}} {{comment.id_usuario.ap_paterno}}</h2>
	      		<p>{{comment.descripcion}}</p>
    		</a>
		</div>
	</div>
    
    <div class="list">
	  <label class="item item-input">
	    <textarea ng-model="comentario" placeholder="Comentar"></textarea>
	  </label>
	  <button class="button button-full button-positive" ng-click="doComment(modal.cupon._id, comentario, modal.cupon.comentarios)">Comentar</button>
	</div>
  </ion-content>
</ion-modal-view>