<ion-view view-title="Cupones">
  <ion-content class="padding">
  	<ion-refresher on-refresh="doRefresh()">
	</ion-refresher>
  	<div ng-switch on="cupones.length">
		<div ng-switch-when="0">
			<div class="list card">
		      <div class="item item-divider">Sin cupones</div>
		      <div class="item item-body">
		        <div>
		          Aún no hay <b>cupones </b> por mostrar.
		        </div>
		      </div>
		    </div>
		</div>
		<div ng-repeat="cupon in cupones">
			<div class="list card">
			  <div class="item item-avatar">
			    <img ng-src="data:{{cupon.id_usuario.extension_avatar}};base64,{{cupon.id_usuario.avatar_binary}}"/>
			    <h2>{{cupon.id_usuario.empresa}}</h2>
			    <p><span><strong>Válido hasta: </strong>{{cupon.fecha_validez}}</span></p>
			  </div>
			
			  <div class="item item-body">
			    <img class="full-image" ng-src="{{cupon.binaryImage}}"  alt="{{cupon.nombre}}" ng-click="actionComent(cupon)" />
			    <p>
			      <a href="#" class="subdued" ng-click="actionComent(cupon)" ng-show="cupon.favoritos.length > 0">{{cupon.favoritos.length}} Favoritos</a>
			      <a href="#" class="subdued" ng-click="actionComent(cupon)" ng-show="cupon.comentarios.length > 0">{{cupon.comentarios.length}} Comentarios</a>
			    </p>
			  </div>

			  <div class="item tabs tabs-secondary tabs-icon-left">
<!-- 			    <a class="tab-item" href="#" ng-click="addToFav(cupon)"> -->
<!-- 			      <i class="icon ion-star"></i> Favorito -->
<!-- 			    </a> -->
<!-- 			    <a class="tab-item" href="#" ng-click="actionComent(cupon)"> -->
<!-- 			      <i class="icon ion-chatbox"></i> Comentar -->
<!-- 			    </a> -->
			    <a class="tab-item" href="#">
			      <i class="icon ion-share"></i> Compartir
			    </a>
			  </div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
