<ion-view view-title="Dashboard">
  <ion-content class="padding">
  	<div ng-switch on="cupones.length">
		<div ng-switch-when="0">
			<div class="list card">
		      <div class="item item-divider">Sin cupones</div>
		      <div class="item item-body">
		        <div>
		          Aún no hay <b>cupones </b> por mostrar.
		        </div>
		      </div>
		    </div>
		</div>
		<div ng-repeat="cupon in cupones">
			<div class="list card">
			  <div class="item item-avatar">
			    <img ng-src="{{chat.face}}"/>
			    <h2>Marty McFly</h2>
			    <p><span><strong>Válido hasta: </strong>{{cupon.fecha_validez}}</span></p>
			  </div>
			
			  <div class="item item-body">
			    <img class="full-image" ng-src="{{cupon.binaryImage}}"  alt="{{cupon.nombre}}"/>
			    <p>Califica: <rating class="color-star" style="font-size: 1.5em" ng-model="rate" max="5" readonly="false" on-hover="hoveringOver(value)"></rating></p>
			    <p>
			      <a href="#" class="subdued">1 Like</a>
			      <a href="#" class="subdued">5 Comments</a>
			    </p>
			  </div>
			
			  <div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" href="#">
			      <i class="icon ion-thumbsup"></i>
			      Like
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-chatbox"></i>
			      Comment
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-share"></i>
			      Share
			    </a>
			  </div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
