<ion-view title="Favoritos">
	<ion-content>
		<a class="item item-thumbnail-left" href="#" ng-repeat="cupon in cupones" ng-click="goToSlide($index)">
	      <img ng-src="{{cupon.binaryImage}}">
	      <h2>{{cupon.id_usuario.empresa}}</h2>
	      <p><span><strong>Válido hasta: </strong>{{cupon.fecha_validez}}</span></p>
	    </a>
	<script id="image-modal.html" type="text/ng-template">
		<div class="modal image-modal transparent" ng-click="closeModal()">
        	<ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
            	<ion-slide ng-repeat="cupon in cupones">
                	<img ng-src="{{cupon.binaryImage}}" class="fullscreen-image" />
                </ion-slide>
            </ion-slide-box>
        </div>
    </script>
	</ion-content>
</ion-view>