<ion-view view-title="Dashboard">
  <ion-content class="padding">
  	<div ng-switch on="cupones.length">
		<div ng-switch-when="0">
			<div class="list card">
		      <div class="item item-divider">Sin cupones</div>
		      <div class="item item-body">
		        <div>
		          Aún no hay <b>cupones </b> por mostrar.
		        </div>
		      </div>
		    </div>
		</div>
		<div ng-repeat="chat in chats">
			<div class="list card">
			  <div class="item item-avatar">
			    <img ng-src="{{chat.face}}"/>
			    <h2>Marty McFly</h2>
			    <p>November 05, 1955</p>
			  </div>
			
			  <div class="item item-body">
			    <img class="full-image" src="delorean.jpg"/>
			    <p>
			      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
			      the content is from a card-body consisting of an image and paragraph text. The footer
			      consists of tabs, icons aligned left, within the card-footer.
			    </p>
			    <p>
			      <a href="#" class="subdued">1 Like</a>
			      <a href="#" class="subdued">5 Comments</a>
			    </p>
			  </div>
			
			  <div class="item tabs tabs-secondary tabs-icon-left">
			    <a class="tab-item" href="#">
			      <i class="icon ion-thumbsup"></i>
			      Like
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-chatbox"></i>
			      Comment
			    </a>
			    <a class="tab-item" href="#">
			      <i class="icon ion-share"></i>
			      Share
			    </a>
			  </div>
			</div>
		</div>
	</div>
	
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    
    <div class="list card">
	  <div class="item item-avatar">
	    <img src="mcfly.jpg"/>
	    <h2>Marty McFly</h2>
	    <p>November 05, 1955</p>
	  </div>
	
	  <div class="item item-body">
	    <img class="full-image" src="delorean.jpg"/>
	    <p>
	      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
	      the content is from a card-body consisting of an image and paragraph text. The footer
	      consists of tabs, icons aligned left, within the card-footer.
	    </p>
	    <p>
	      <a href="#" class="subdued">1 Like</a>
	      <a href="#" class="subdued">5 Comments</a>
	    </p>
	  </div>
	
	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsup"></i>
	      Like
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-chatbox"></i>
	      Comment
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-share"></i>
	      Share
	    </a>
	  </div>
	</div>
  </ion-content>
</ion-view>
